@import url("/fonts/monserrat/monserrat.css");
@import url("/fonts/DINpro/stylesheet.css");
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f3f4f8;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f4f8;
  font-family: "Montserrat", sans-serif;
  padding-top: 60px;
}

input, textarea {
  font-family: "Montserrat", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.right {
  float: right;
}

.description {
  color: #999999;
  font-weight: 300;
}

.github::after {
  content: url("/images/github.svg");
}

.center {
  text-align: center;
}

.blue-btn, .gray-btn {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
}

.blue-btn[disabled], .gray-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.blue-btn {
  background-color: #2468d7;
  color: #fff;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.blue-btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.gray-btn {
  border: 1px solid #999999;
  color: #000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn::after {
  content: url("/images/close.svg");
  -webkit-filter: invert(1);
          filter: invert(1);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.white-box {
  max-width: 1200px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.white-box h3 {
  margin-left: 10px;
  position: relative;
}

.white-box h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

.part-white-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.part-white-box .part-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px 15px;
}

.part-white-box .part-box:first-child {
  margin-left: 0;
}

.part-white-box .part-box:last-child {
  margin-right: 0;
}

.part-white-box .part-box form {
  width: 100%;
}

.part-white-box .part-box form ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  list-style-type: none;
}

.part-white-box .part-box form ul li label {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.part-white-box .part-box form ul li label:hover input[type="checkbox"]::before {
  border: 1px solid #2468d7;
}

.part-white-box .part-box form ul li label input[type="checkbox"] {
  width: 0px;
  position: relative;
}

.part-white-box .part-box form ul li label input[type="checkbox"]::before {
  position: absolute;
  top: 0;
  left: -25px;
  width: 15px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  border: 1px solid #999999;
  border-radius: 2px;
}

.part-white-box .part-box form ul li label input[type="checkbox"]:not(:checked)::before {
  background-image: url("/images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.part-white-box .part-box h1 {
  color: #2468d7;
}

.part-white-box .part-box h3 {
  margin-left: 10px;
  position: relative;
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.part-white-box .part-box h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

.part-white-box .part-box .controls-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: inherit;
}

.part-white-box .part-box .controls-buttons button {
  margin: 3px;
}

nav {
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav h3 {
  margin-left: 10px;
  position: relative;
  margin: 0;
}

nav h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

nav #logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

nav #logout::after {
  content: url("/images/logout.svg");
}

nav #logout:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#global-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#global-settings .option {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#global-settings .option h4 {
  text-align: center;
}

#global-settings .option input[type="color"] {
  border: none;
  background-color: transparent;
}

#global-settings .option input[type="number"], #global-settings .option select {
  background-color: #ececec;
  border: 1px solid #ececec;
  border-radius: 5px;
  outline: none;
  max-width: 100%;
  padding: 5px 10px;
}

#global-settings .option input[type="number"]:focus, #global-settings .option select:focus {
  border: 1px solid #999999;
}

#controls-buttons {
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slides-table {
  overflow-x: auto;
  margin: 10px 0;
}

#slides-table table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

#slides-table table thead th {
  border-bottom: 1px solid #999999;
  white-space: nowrap;
  padding-bottom: 10px;
}

#slides-table table tr:nth-child(even) {
  background-color: #ececec;
}

#slides-table table tr.hidden {
  color: #999999;
  opacity: 0.5;
}

#slides-table table tr td {
  text-align: center;
  vertical-align: middle;
  padding: 8px 0;
  overflow: hidden;
  max-width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#slides-table table tr td p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  margin: 0;
}

#slides-table table tr td input[type="color"] {
  background-color: transparent;
  border: none;
}

#slides-table table tr td.title, #slides-table table tr td.text {
  width: 25%;
}

#slides-table table tr td:not(.empty):first-child {
  cursor: move;
  position: relative;
}

#slides-table table tr td:not(.empty):first-child::after {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: url("/images/drag.svg");
}

#slides-table table tr td.empty {
  padding: 20px 0 14px 0;
}

#slides-table table tr td button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#slides-table table tr td .preview::after {
  content: url("/images/eye.svg");
}

#slides-table table tr td .edit::after {
  content: url("/images/edit.svg");
}

#slides-table table tr td .remove::after {
  content: url("/images/trash.svg");
}

.iframe-box {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.iframe-box iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#prewiew-box {
  position: relative;
}

#prewiew-box button {
  position: absolute;
  top: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#prewiew-box button#refresh-iframe-btn {
  right: 20px;
}

#prewiew-box button#refresh-iframe-btn::after {
  display: inline-block;
  content: url("/images/arrow-spin.svg");
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#prewiew-box button#refresh-iframe-btn:hover::after {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

#prewiew-box button#toggle-iframe-btn {
  right: 45px;
}

#prewiew-box button#toggle-iframe-btn.pause::after {
  content: url("/images/pause.svg");
}

#prewiew-box button#toggle-iframe-btn.play::after {
  content: url("/images/play.svg");
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 20px 10px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
  -webkit-box-shadow: 5px -5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px -5px 12px 5px rgba(0, 0, 0, 0.1);
}

footer h3 {
  margin-left: 10px;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
}

footer h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

footer #footer-content a {
  color: #2468d7;
}

footer #footer-content p {
  margin: 10px 40px;
  text-align: center;
}

#add-visitation-box, #add-degustation-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000007e;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#add-visitation-box.active, #add-degustation-box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-visitation-box form, #add-degustation-box form {
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#add-visitation-box form #add-visitation-input-box, #add-visitation-box form #add-degustation-input-box, #add-degustation-box form #add-visitation-input-box, #add-degustation-box form #add-degustation-input-box {
  margin: 20px 5px;
}

#add-visitation-box form #add-visitation-input-box input[type="number"], #add-visitation-box form #add-degustation-input-box input[type="number"], #add-degustation-box form #add-visitation-input-box input[type="number"], #add-degustation-box form #add-degustation-input-box input[type="number"] {
  width: 43px;
  font-size: 22px;
  outline: none;
  border: 1px solid #999999;
  padding: 3px 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#add-visitation-box form #add-visitation-input-box input[type="number"]:first-child, #add-visitation-box form #add-degustation-input-box input[type="number"]:first-child, #add-degustation-box form #add-visitation-input-box input[type="number"]:first-child, #add-degustation-box form #add-degustation-input-box input[type="number"]:first-child {
  text-align: right;
}

#add-visitation-box form #add-visitation-input-box input[type="number"]:last-child, #add-visitation-box form #add-degustation-input-box input[type="number"]:last-child, #add-degustation-box form #add-visitation-input-box input[type="number"]:last-child, #add-degustation-box form #add-degustation-input-box input[type="number"]:last-child {
  text-align: left;
}

#add-visitation-box form #add-visitation-input-box button, #add-visitation-box form #add-degustation-input-box button, #add-degustation-box form #add-visitation-input-box button, #add-degustation-box form #add-degustation-input-box button {
  margin: 10px 0;
}

#add-slide-box, #edit-slide-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000007e;
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#add-slide-box.active, #edit-slide-box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-slide-box form, #edit-slide-box form {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  max-width: 100%;
  width: 800px;
}

#add-slide-box form .input, #edit-slide-box form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#add-slide-box form label, #edit-slide-box form label {
  margin: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  letter-spacing: 1.5px;
  font-weight: 600;
}

#add-slide-box form button[type="submit"], #edit-slide-box form button[type="submit"] {
  padding: 10px 0;
  margin-top: 20px;
}

#add-slide-box form input[type="text"], #add-slide-box form input[type="number"], #add-slide-box form select, #add-slide-box form input[type="file"], #add-slide-box form textarea, #edit-slide-box form input[type="text"], #edit-slide-box form input[type="number"], #edit-slide-box form select, #edit-slide-box form input[type="file"], #edit-slide-box form textarea {
  border: transparent;
  border-radius: 5px;
  background-color: #ececec;
  outline: none;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ececec;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  overflow: hidden;
}

#add-slide-box form input[type="text"]::file-selector-button, #add-slide-box form input[type="number"]::file-selector-button, #add-slide-box form select::file-selector-button, #add-slide-box form input[type="file"]::file-selector-button, #add-slide-box form textarea::file-selector-button, #edit-slide-box form input[type="text"]::file-selector-button, #edit-slide-box form input[type="number"]::file-selector-button, #edit-slide-box form select::file-selector-button, #edit-slide-box form input[type="file"]::file-selector-button, #edit-slide-box form textarea::file-selector-button {
  display: none;
}

#add-slide-box form input[type="text"]:focus, #add-slide-box form input[type="number"]:focus, #add-slide-box form select:focus, #add-slide-box form input[type="file"]:focus, #add-slide-box form textarea:focus, #edit-slide-box form input[type="text"]:focus, #edit-slide-box form input[type="number"]:focus, #edit-slide-box form select:focus, #edit-slide-box form input[type="file"]:focus, #edit-slide-box form textarea:focus {
  border: 1px solid #999999;
}

#add-slide-box form input[type="color"], #edit-slide-box form input[type="color"] {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 40px;
}

#add-slide-box form input[type="checkbox"], #edit-slide-box form input[type="checkbox"] {
  margin-left: 10px;
  margin-bottom: 15px;
}

#add-slide-box form .row, #edit-slide-box form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#add-slide-box form .row .column, #edit-slide-box form .row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

#add-slide-box form .row .column:first-child, #edit-slide-box form .row .column:first-child {
  margin-left: 0;
}

#add-slide-box form .row .column:last-child, #edit-slide-box form .row .column:last-child {
  margin-right: 0;
}

#add-slide-box form textarea, #edit-slide-box form textarea {
  resize: vertical;
  height: 100px;
}

#loading-box {
  position: fixed;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#loading-box.hidden {
  opacity: 0;
}

#loading-box .spinner {
  border-radius: 100%;
  border-top: 10px solid #2468d7;
  border-left: 10px solid #2468d7;
  border-bottom: 10px solid #999999;
  border-right: 10px solid #999999;
  -webkit-animation: spinning infinite linear 2s;
          animation: spinning infinite linear 2s;
}

#alert-box {
  position: fixed;
  top: 100px;
  right: 30px;
  background-color: #2468d7;
  color: #fff;
  border-radius: 5px;
  padding: 15px 10px;
  overflow: hidden;
}

#alert-box.error {
  background-color: red;
}

#alert-box::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #000;
  width: 0%;
  content: "";
  -webkit-animation: loading linear forwards 5s;
          animation: loading linear forwards 5s;
}

@media screen and (max-width: 1200px) {
  .white-box {
    margin-left: 10px;
    margin-right: 10px;
  }
  .part-white-box .part-box:first-child, .part-white-box .part-box:last-child {
    margin: 10px;
  }
}

@media screen and (max-width: 700px) {
  .part-white-box {
    display: block;
  }
  #global-settings {
    display: block;
  }
  #add-slide-box form .row, #edit-slide-box form .row {
    display: block;
  }
  #add-slide-box form .column, #edit-slide-box form .column {
    width: 100%;
    margin: 0 !important;
  }
}

.arial {
  font-family: Arial, sans-serif;
}

.verdana {
  font-family: Verdana, sans-serif;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

.tahoma {
  font-family: Tahoma, sans-serif;
}

.terebuchet {
  font-family: 'Trebuchet MS', sans-serif;
}

.times-new-roman {
  font-family: 'Times New Roman', serif;
}

.georgia {
  font-family: Georgia, serif;
}

.garamond {
  font-family: Garamond, serif;
}

.courier-new {
  font-family: 'Courier New', monospace;
}

.brush-script {
  font-family: 'Brush Script MT', cursive;
}

.monserrat {
  font-family: 'Montserrat', sans-serif;
}

.dinpro {
  font-family: 'DINpro', sans-serif;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*# sourceMappingURL=admin.css.map */