@import url('/fonts/monserrat/monserrat.css');
@import url("/fonts/DINpro/stylesheet.css");

$backgroundColor: #f3f4f8; 
$themeColor: #2468d7;
$grayColor: #999999;
$lightGrayColor: #ececec;

$whiteBoxShadow: 5px 5px 12px 5px rgba(0,0,0,0.1);
$whiteBoxShadowTop: 5px -5px 12px 5px rgba(0,0,0,0.1);

$themeFont: 'Montserrat', sans-serif;

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: $backgroundColor; 
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #aaa; 
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $backgroundColor;
    font-family: $themeFont;
    padding-top: 60px;
}

.uppercase {
    text-transform: uppercase;
}

.description {
    color: $grayColor;
    font-weight: 300;
}

.github {
    &::after {
        content: url("/images/github.svg");
    }
}

.center {
    text-align: center;
}

.blue-btn, .gray-btn {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: $themeFont;
}

.blue-btn {
    background-color: $themeColor;
    color: #fff;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.9);
    }
}

.gray-btn {
    border: 1px solid $grayColor;
    color: #000;
}

.white-box {
    max-width: 1200px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: $whiteBoxShadow;
    box-sizing: border-box;

    h3 {
        margin-left: 10px;
        position: relative;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: $themeColor;
        }
    }
}

.part-white-box {
    display: flex;
    max-width: 1200px;
    margin: auto;

    .part-box {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: $whiteBoxShadow;
        margin: 10px;
        border-radius: 10px;
        padding: 10px 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        ul {
            width: 100%;
            list-style-type: none;

            label {
                user-select: none;
            }
        }

        h1 {
            color: $themeColor;
        }

        h3 {
            margin-left: 10px;
            position: relative;
            width: 100%;
            text-align: left;
            box-sizing: border-box;
    
            &::after {
                left: 0;
                bottom: -10px;
                height: 4px;
                width: 40px;
                position: absolute;
                content: "";
                background-color: $themeColor;
            }
        }

        .controls-buttons {
            display: flex;
            width: 100%;
            button {
                margin: 3px;
            }
        }
    }
}

nav {
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: $whiteBoxShadow;
    position: fixed;
    display: flex;
    justify-content: space-between;

    h3 {
        margin-left: 10px;
        position: relative;
        margin: 0;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: $themeColor;
        }
    }

    #logout {
        background-color: transparent;
        border: none;
        cursor: pointer;
        filter: brightness(0);
        transition: filter 0.2s;
        &::after {
            content: url("/images/logout.svg");
        }

        &:hover {
            filter: brightness(1);
        }
    }
}

#global-settings {
    display: flex;

    .option {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        h4 {
            text-align: center;
        }

        input[type="color"] {
            border: none;
            background-color: transparent;
        }

        input[type="number"] {
            max-width: 100%;
            width: 50px;
            text-align: center;
            padding: 5px;
            border-radius: 3px;
            -moz-appearance: textfield;
            border: 1px solid $grayColor;

            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        select {
            max-width: 100%;
        }
    }
}

#controls-buttons {
    padding: 10px 20px;
    box-sizing: border-box;
}

#slides-table {
    overflow-x: auto;
    margin: 10px 0;
    table {
        width: 100%;
        margin: 10px 0;
        border-collapse: collapse;

        tr {
            &:first-child {
                border-bottom: 1px solid $grayColor;
                white-space: nowrap;

                th {
                    padding: 10px 5px;
                }
            }

            td {
                &:first-child {
                    cursor: move;
                    &::after {
                        content: url("/images/drag.svg");
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }

                .preview {
                    &::after {
                        content: url("/images/eye.svg");
                    }
                }

                .remove {
                    &::after {
                        content: url("/images/trash.svg");
                    }
                }
            }

            &:not(:first-child) {
                &:nth-child(odd) {
                    background-color: $lightGrayColor;
                }
            }
        }

        td {
            text-align: center;
            vertical-align: middle;
            padding: 8px 0;
        }
    }
}

.iframe-box {
    width: 100%;
    padding-top: 56.25%;
    position: relative;

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

#prewiew-box {
    position: relative;
    #refresh-iframe-btn {
        position: absolute;
        top: 30px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &::after {
            display: inline-block;
            content: url("/images/arrow-spin.svg");
            transition: transform 0.2s;
        }

        &:hover {
            &::after {
                transform: rotate(25deg);
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 10px 5px 10px;
    box-sizing: border-box;
    margin-top: 25px;
    box-shadow: $whiteBoxShadowTop;

    h3 {
        margin-left: 10px;
        position: relative;
        margin: 0;
        margin-bottom: 30px;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: $themeColor;
        }
    }

    #footer-content {
        a {
            color: $themeColor;
        }

        p {
            margin: 10px 40px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1200px) {
    .white-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .part-white-box {
        .part-box {
            &:first-child, &:last-child {
                margin: 10px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .part-white-box {
        display: block;
    }

    #global-settings {
        display: block;
    }
}

//fonts
.arial {
    font-family: Arial, sans-serif;
}

.verdana {
    font-family: Verdana, sans-serif;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

.tahoma {
    font-family: Tahoma, sans-serif;
}

.terebuchet {
    font-family: 'Trebuchet MS', sans-serif;
}

.times-new-roman {
    font-family: 'Times New Roman', serif;
}

.georgia {
    font-family: Georgia, serif;
}

.garamond {
    font-family: Garamond, serif;
}

.courier-new {
    font-family: 'Courier New', monospace;
}

.brush-script {
    font-family: 'Brush Script MT', cursive;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.dinpro {
    font-family: "DINpro", sans-serif;
}