@import url('/fonts/monserrat/monserrat.css');
@import url("/fonts/DINpro/stylesheet.css");

:root {
    --theme_color: #2468d7;
    --body_color: #202020;
    --box_color: #363636;
    --input_background: #4b4b4b;
    --text_color: #ffffff;
    --light_background: #3b3b3b;

    .icon {
        filter: grayscale(1) invert(1);
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

.light-theme {
    --body_color: #f3f4f8;
    --box_color: #ffffff;
    --input_background: #ececec;
    --text_color: #000000;
    --light_background: #f4f4f4;

    .icon {
        filter: inherit;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(0);
    }
}

.sortable-drag {
    display: none;
}

$grayColor: #999999;
$darkGrayColor: #2F3545;
$toggleBackground: #0000007e;

$whiteBoxShadow: 5px 5px 12px 5px rgba(0,0,0,0.1);
$whiteBoxShadowBottom: 19px 20px 6px -14px rgba(0,0,0,0.1);
$whiteBoxShadowTop: 5px -5px 12px 5px rgba(0,0,0,0.1);

$themeFont: 'Montserrat', sans-serif;

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--body_color); 
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;

    &:hover {
        background: #666;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--body_color);
    font-family: $themeFont;
    padding-top: 60px;
}

//Style for themes

h1, h2, h3, h4, h5, h6, p, label, span, input, textarea, select, tr, td, li {
    color: var(--text_color);
}

input, textarea {
    font-family: $themeFont;
}

button[type="submit"].blue-btn {
    margin-top: 10px;
}

input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type="checkbox"] {
    width: 0;
    position: relative;
    border: none;
    margin: 0;

    &::after {
        transform: translateX(-50%);
        position: absolute;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        content: "";
        border: 1px solid $grayColor;
        border-radius: 2px;
    }

    &:checked {
        &::after {
            background-image: url("/images/check.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

.right {
    float: right;
}

.description {
    color: $grayColor;
    font-weight: 300;
}

.github {
    &::after {
        content: url("/images/github.svg");
    }
}

.center {
    text-align: center;
}

.blue-btn, .gray-btn {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: $themeFont;
    user-select: none;
    background-color: var(--box_color);
    
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.blue-btn {
    background-color: var(--theme_color);
    color: #fff;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.9);
    }
}

.gray-btn {
    border: 1px solid $grayColor;
    color: var(--text_color);
    background-color: var(--input_background);
}

.box {
    max-width: 1200px;
    margin: 30px auto;
    background-color: var(--box_color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: $whiteBoxShadow;
    box-sizing: border-box;
    overflow: hidden;

    h3 {
        margin-left: 10px;
        position: relative;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: var(--theme_color);
        }
    }
}

.part-box-div {
    display: flex;
    max-width: 1200px;
    margin: auto;

    .part-box {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--box_color);
        box-shadow: $whiteBoxShadow;
        margin: 10px;
        border-radius: 10px;
        padding: 10px 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            &:not(&:first-child) {
                margin-top: 20px;
            }
        }

        .host-url {
            color: var(--theme_color);
        }

        form {
            width: 100%;
            margin-bottom: 15px;
        }

        h1 {
            color: var(--theme_color);
        }

        h3 {
            margin-left: 10px;
            position: relative;
            width: 100%;
            text-align: left;
            box-sizing: border-box;
    
            &::after {
                left: 0;
                bottom: -10px;
                height: 4px;
                width: 40px;
                position: absolute;
                content: "";
                background-color: var(--theme_color);
            }
        }

        h4 {
            margin: 10px;
        }

        .controls-buttons {
            display: flex;
            width: 100%;
            float: inherit;
            button {
                margin: 3px;
            }
        }

        ul {
            list-style: none;

            li {
                user-select: none;

                input[type="checkbox"] {
                    left: -20px;
                }
            }
        }

        #timelist-box {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;

            &.removing-list {
                .edit-times-box {
                    display: none;
                }

                .remove-list-button {
                    margin-left: 10px;
                    display: inline-block;   
                }
            }

            &:not(&.removing-list) {
                .edit-times-box {
                    display: inline-flex;
                    margin: 3.5px 0;
                    button {
                        padding: 2px 6px;
                        margin: 0 4px;
                        width: 22px;
                        height: 22px;
    
                        &.blue-btn {
                            margin: 0 4px 0 10px;
                        }
    
                        &.gray-btn {
                            padding: 2px 8px;
                        }
                    }
                }
    
                .remove-list-button {
                    display: none;
                }
            }
        }
    }
}

nav {
    width: 100%;
    background-color: var(--box_color);
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: $whiteBoxShadow;
    position: fixed;
    display: flex;
    justify-content: space-between;

    h3 {
        margin-left: 10px;
        position: relative;
        margin: 0;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: var(--theme_color);
        }
    }

    #header-buttons {
        display: flex;

        #switch-theme {
            background-color: transparent;
            border: none;
            cursor: pointer;

            &::after {
                display: inline-block;
                content: url("/images/circle-half.svg");
            }
        }

        #messages-box {
            position: relative;

            #messages-btn {
                border: none;
                background-color: transparent;
                height: 100%;
                position: relative;
                cursor: pointer;

                span {
                    background-color: var(--theme_color);
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: 0.2s opacity;
                    opacity: 0;

                    &.active {
                        opacity: 1;
                    }
                }

                &::after {
                    content: url("/images/message.svg");
                }
            }

            #messages-list {
                position: absolute;
                background: var(--box_color);
                box-shadow: $whiteBoxShadowBottom;
                border-radius: 0 0 5px 5px;
                top: 100%;
                right: 0;
                padding: 20px 10px 0 10px;
                box-sizing: border-box;
                width: 300px;
                display: none;
                max-height: 40vh;
                overflow-y: auto;

                &.active {
                    display: block;
                }

                .message {
                    white-space: nowrap;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 8px;
                    margin: 5px 0;
                    border-radius: 2px;

                    .text {
                        display: block;
                        p {
                            margin: 0;
                        }
    
                        .title {
                            font-weight: 500;
                        }

                        .comment {
                            color: $grayColor;
                            margin-left: 5px;
                            font-size: 14px;
                        }
                    }

                    .time {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }

                    &.success {
                        border-left: 2px solid green;
                    }

                    &.error {
                        border-left: 2px solid red;
                    }
                    
                    &.warning {
                        border-left: 2px solid orange;
                    }
                }
            }
        }

        #logout {
            background-color: transparent;
            border: none;
            cursor: pointer;
            &::after {
                content: url("/images/logout.svg");
            }
        }
    }
}

#global-settings {
    display: flex;

    .option {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        h4 {
            text-align: center;
        }

        input[type="color"] {
            border: none;
            background-color: transparent;
        }

        input[type="number"], select {
            background-color: var(--input_background);
            border: 1px solid var(--input_background);
            border-radius: 5px;
            outline: none;
            max-width: 100%;
            padding: 5px 10px;
            box-sizing: border-box;
            width: 200px;

            &:focus {
                border: 1px solid $grayColor;
            }
        }
    }
}

#controls-buttons {
    padding: 10px 20px;
    box-sizing: border-box;
}

#slides-table {
    overflow-x: auto;
    margin: 10px 0;

    table {
        width: 100%;
        margin: 10px 0;
        border-collapse: collapse;

        thead {
            th {
                border-bottom: 1px solid $grayColor;
                white-space: nowrap;
                padding: 0 10px 10px 10px;
                font-weight: 600;

                &:first-child {
                    &::after {
                        content: url("/images/sort.svg");
                    }
                }

                &:nth-child(3) {
                    width: 75%;
                }
            }
        }

        tr {
            &.hidden {
                color: $grayColor;

                td {
                    opacity: 0.2;
                }
            }

            &:nth-child(even) {
                background-color: var(--light_background);
            }

            td {
                text-align: center;
                vertical-align: middle;
                padding: 8px 0;
                overflow: hidden;
                max-width: 130px;
                white-space: nowrap;
                text-overflow: ellipsis;

                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 150px;
                    margin: 0;
                }

                input[type="color"] {
                    background-color: transparent;
                    border: none;
                }

                &.type {
                    &.iframe {
                        &::after {
                            content: url("/images/iframe.svg");
                        }
                    }
    
                    &.image {
                        &::after {
                            content: url("/images/image.svg");
                        }
                    }
    
                    &.video {
                        &::after {
                            content: url("/images/play-btn.svg");
                        }
                    }
    
                    &.text {
                        &::after {
                            content: url("/images/text.svg");
                        }
                    }

                    &.cooldown {
                        &::after {
                            content: url("/images/clock.svg");
                        }
                    }
                }

                &:not(.empty) {
                    &:first-child {
                        cursor: move;
                        position: relative;
                        &::after {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            content: url("/images/drag.svg");
                        }
                    }
                }

                &.empty {
                    padding: 20px 0 14px 0;
                }

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }

                .edit {
                    &::after {
                        content: url("/images/edit.svg");
                    }
                }

                .remove {
                    &::after {
                        content: url("/images/trash.svg");
                    }
                }
            }
        }
    }
}

.iframe-box {
    width: 100%;
    padding-top: 56.25%;
    position: relative;

    h2 {
        position: absolute;
        left: 50%;
        top: 40%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    iframe {
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        z-index: 1;
    }
}

#clients-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 10px;
    min-height: 190px;

    th {
        border-bottom: 1px solid $grayColor;

        &:first-child {
            width: 20%;
        }
    }

    td {
        padding: 5px 0;
        height: 30px;
    }
}

#prewiew-box {
    position: relative;

   button {
        position: absolute;
        top: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 16px;
        aspect-ratio: 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.2;
        }

        &#fullscreen-iframe-btn {
            right: 50px;
            background-image: url("/images/fullscreen.svg");
            transition: opacity 0.2s;
        }

        &#toggle-iframe-btn {
            right: 20px;

            &.pause {
                background-image: url("/images/pause.svg");
            }

            &.play {
                background-image: url("/images/play.svg");
            }
        }

        &#fullscreen-reload-btn {
            right: 80px;
            background-image: url("/images/arrow-spin.svg");
        }
    }
}

footer {
    width: 100%;
    background-color: var(--box_color);
    padding: 20px 20px 5px 20px;
    box-sizing: border-box;
    margin-top: 25px;
    box-shadow: $whiteBoxShadowTop;

    h3 {
        margin-left: 10px;
        position: relative;
        margin: 0;
        margin-bottom: 30px;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: var(--theme_color);
        }
    }

    #footer-content {
        a {
            color: var(--theme_color);
        }

        p {
            margin: 10px 40px;
            text-align: center;
        }
    }
}

#add-slide-box, #edit-slide-box, #add-timelists-form, #add-time-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: $toggleBackground;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
    }

    form {
        background-color: var(--box_color);
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
        width: 800px;
        overflow-y: auto;
        overflow-x: clip;
        max-height: 100vh;

        .input {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 5px 10px;
            text-transform: uppercase;
            font-size: 12px;
            color: $grayColor;
            letter-spacing: 1.5px;
            font-weight: 600;
            width: 100%;
            display: block;
        }

        button[type="submit"] {
            padding: 10px 0;
            margin-top: 20px;
        }

        input[type="text"], input[type="number"], select, input[type="file"], textarea, input[type="url"], input[type="time"] {
            border: transparent;
            border-radius: 5px;
            background-color: var(--input_background);
            outline: none;
            padding: 10px 15px;
            box-sizing: border-box;
            border: 1px solid var(--input_background);
            transition: border 0.2s;
            overflow: hidden;
            width: 100%;

            &::file-selector-button {
                display: none;
            }

            &:focus {
                border: 1px solid $grayColor;
            }
        }

        input[type="color"] {
            background-color: transparent;
            border: none;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            height: 40px;
        }

        #hidden-box {
            margin-top: 10px;
            display: flex;
            align-items: center;

            label {
                width: auto;
            }

            input[type="checkbox"] {
                margin-left: 5px;
            }
        }

        .row {
            display: flex;
            width: 100%;
            justify-content: center;

            .column {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 10px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        textarea {
            resize: vertical;
            height: 100px;
            min-height: 100px;
        }
    }
}

.pie-chart {
    width: 110px;
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    box-sizing: border-box;
    border: 12px solid var(--light_background);
    border-radius: 100%;
    transition: 0.2s box-shadow;

    &:hover {
        box-shadow: 0px 0px 8px var(--light_background) inset, 0px 0px 8px var(--light_background);
    }

    span {
        &.before, &.after {
            content: "";
            position: absolute;
            border-radius: 50%;
        }
    
        &.before {
            inset: -12px;
            mask:radial-gradient(farthest-side,#0000 calc(99% - 12px),#000 calc(100% - 12px));
        }
    
        &.after {
            inset:calc(50% - 12px/2);
            background: var(--theme_color);
        }

        &.percentage {
            font-size: 20px;
            font-weight: 600;
        }

        &.dsc {
            font-size: 12px;
            text-align: center;
        }
    }
}

.text-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 110px;
    border-radius: 10px;
    margin: 5px;
    border: 10px solid var(--light_background);
    box-sizing: border-box;
    padding: 3px;
    max-width: 100%;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    span {
        width: 100%;
        text-align: center;

        &.value {
            font-size: 20px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        &.name {
            font-size: 12px;
        }
    }
}

#loading-box {
    position: fixed;
    left: 0;
    background-color: var(--box_color);
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    transition: 1s opacity;

    &.hidden {
        opacity: 0;
    }

    p {
        color: var(--text_color);
    }

    #loader {
        width: 44px;
        height: 44px;
        position: relative;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            display: block;
            background: var(--theme_color);
            top: 37px;
            left: 19px;
            transform: translate(-18px, -18px);
            animation: dotRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
            rect {
                fill: none;
                stroke: var(--text_color);
                stroke-width: 10px;
                stroke-linejoin: round;
                stroke-linecap: round;
                stroke-dasharray: calc(256 / 4 * 3) calc(256 / 4) calc(256 / 4 * 3) calc(256 / 4);
                stroke-dashoffset: 0;
                animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }
        }
    }
}

#alert-box {
    position: fixed;
    right: 30px;
    background-color: var(--theme_color);
    color: #fff;
    border-radius: 5px;
    padding: 15px 10px;
    overflow: hidden;
    z-index: 3;
    user-select: none;

    &.error {
        background-color: red;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: var(--box_color);
        width: 0%;
        content: "";
        animation: loading linear forwards 5s;
    }

    @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
            top: #{10 + $i * 60}px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .part-box-div {
        .part-box {
            &:first-child, &:last-child {
                margin: 10px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .part-box-div {
        display: block;
    }

    #global-settings {
        display: block;
    }

    #add-slide-box, #edit-slide-box {
        form {
            .row {
                display: block;
            }

            .column {
                width: 100%;
                margin: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    nav {
        h3 {
            .description {
                display: none;
            }
        }
    }
}

//fonts
.arial {
    font-family: Arial, sans-serif;
}

.verdana {
    font-family: Verdana, sans-serif;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

.tahoma {
    font-family: Tahoma, sans-serif;
}

.terebuchet {
    font-family: 'Trebuchet MS', sans-serif;
}

.times-new-roman {
    font-family: 'Times New Roman', serif;
}

.georgia {
    font-family: Georgia, serif;
}

.garamond {
    font-family: Garamond, serif;
}

.courier-new {
    font-family: 'Courier New', monospace;
}

.brush-script {
    font-family: 'Brush Script MT', cursive;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.dinpro {
    font-family: 'DINpro', sans-serif;
}

@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }
    50% {
        stroke-dashoffset: 128;
    }
    75% {
        stroke-dashoffset: 192;
    }
    100% {
        stroke-dashoffset: 256;
    }
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(18px, -18px);
    }
    75% {
        transform: translate(0, -36px);
    }
    100% {
        transform: translate(-18px, -18px);
    }
}

@keyframes loading {
    from {
        width: 0;
    } 

    to {
        width: 100%;
    }
}