@import url("/fonts/monserrat/monserrat.css");
@import url("/fonts/DINpro/stylesheet.css");
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f3f4f8;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f4f8;
  font-family: "Montserrat", sans-serif;
  padding-top: 60px;
}

.uppercase {
  text-transform: uppercase;
}

.description {
  color: #999999;
  font-weight: 300;
}

.github::after {
  content: url("/images/github.svg");
}

.center {
  text-align: center;
}

.blue-btn, .gray-btn {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.blue-btn[disabled], .gray-btn[disabled] {
  cursor: not-allowed;
}

.blue-btn {
  background-color: #2468d7;
  color: #fff;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.blue-btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.gray-btn {
  border: 1px solid #999999;
  color: #000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn::after {
  content: url("/images/close.svg");
  -webkit-filter: invert(1);
          filter: invert(1);
}

.white-box {
  max-width: 1200px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.white-box h3 {
  margin-left: 10px;
  position: relative;
}

.white-box h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

.part-white-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.part-white-box .part-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px 15px;
}

.part-white-box .part-box:first-child {
  margin-left: 0;
}

.part-white-box .part-box:last-child {
  margin-right: 0;
}

.part-white-box .part-box ul {
  width: 100%;
  list-style-type: none;
}

.part-white-box .part-box ul label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.part-white-box .part-box h1 {
  color: #2468d7;
}

.part-white-box .part-box h3 {
  margin-left: 10px;
  position: relative;
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.part-white-box .part-box h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

.part-white-box .part-box .controls-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.part-white-box .part-box .controls-buttons button {
  margin: 3px;
}

nav {
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav h3 {
  margin-left: 10px;
  position: relative;
  margin: 0;
}

nav h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

nav #logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

nav #logout::after {
  content: url("/images/logout.svg");
}

nav #logout:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#global-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#global-settings .option {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#global-settings .option h4 {
  text-align: center;
}

#global-settings .option input[type="color"] {
  border: none;
  background-color: transparent;
}

#global-settings .option input[type="number"] {
  max-width: 100%;
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #999999;
  -moz-appearance: textfield;
}

#global-settings .option input[type="number"]::-webkit-outer-spin-button, #global-settings .option input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#global-settings .option select {
  max-width: 100%;
}

#controls-buttons {
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slides-table {
  overflow-x: auto;
  margin: 10px 0;
}

#slides-table table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

#slides-table table thead th {
  border-bottom: 1px solid #999999;
  white-space: nowrap;
  padding-bottom: 10px;
}

#slides-table table tr:nth-child(even) {
  background-color: #ececec;
}

#slides-table table tr td {
  text-align: center;
  vertical-align: middle;
  padding: 8px 0;
}

#slides-table table tr td p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  margin: 0;
}

#slides-table table tr td input[type="color"] {
  background-color: transparent;
  border: none;
}

#slides-table table tr td:first-child {
  cursor: move;
}

#slides-table table tr td:first-child::after {
  content: url("/images/drag.svg");
}

#slides-table table tr td button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#slides-table table tr td .preview::after {
  content: url("/images/eye.svg");
}

#slides-table table tr td .remove::after {
  content: url("/images/trash.svg");
}

.iframe-box {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.iframe-box iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#prewiew-box {
  position: relative;
}

#prewiew-box #refresh-iframe-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#prewiew-box #refresh-iframe-btn::after {
  display: inline-block;
  content: url("/images/arrow-spin.svg");
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#prewiew-box #refresh-iframe-btn:hover::after {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 20px 10px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
  -webkit-box-shadow: 5px -5px 12px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px -5px 12px 5px rgba(0, 0, 0, 0.1);
}

footer h3 {
  margin-left: 10px;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
}

footer h3::after {
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 40px;
  position: absolute;
  content: "";
  background-color: #2468d7;
}

footer #footer-content a {
  color: #2468d7;
}

footer #footer-content p {
  margin: 10px 40px;
  text-align: center;
}

#add-visitation-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000007e;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#add-visitation-box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-visitation-box form {
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#add-visitation-box form #add-visitation-input-box {
  margin: 20px 5px;
}

#add-visitation-box form #add-visitation-input-box input[type="number"] {
  width: 40px;
  font-size: 22px;
  outline: none;
  -moz-appearance: textfield;
  border: 1px solid #999999;
  padding: 3px 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#add-visitation-box form #add-visitation-input-box input[type="number"]::-webkit-outer-spin-button, #add-visitation-box form #add-visitation-input-box input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add-visitation-box form #add-visitation-input-box input[type="number"]:first-child {
  text-align: right;
}

#add-visitation-box form #add-visitation-input-box input[type="number"]:last-child {
  text-align: left;
}

#add-visitation-box form #add-visitation-input-box button {
  margin: 10px 0;
}

@media screen and (max-width: 1200px) {
  .white-box {
    margin-left: 10px;
    margin-right: 10px;
  }
  .part-white-box .part-box:first-child, .part-white-box .part-box:last-child {
    margin: 10px;
  }
}

@media screen and (max-width: 700px) {
  .part-white-box {
    display: block;
  }
  #global-settings {
    display: block;
  }
}

.arial {
  font-family: Arial, sans-serif;
}

.verdana {
  font-family: Verdana, sans-serif;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

.tahoma {
  font-family: Tahoma, sans-serif;
}

.terebuchet {
  font-family: 'Trebuchet MS', sans-serif;
}

.times-new-roman {
  font-family: 'Times New Roman', serif;
}

.georgia {
  font-family: Georgia, serif;
}

.garamond {
  font-family: Garamond, serif;
}

.courier-new {
  font-family: 'Courier New', monospace;
}

.brush-script {
  font-family: 'Brush Script MT', cursive;
}

.monserrat {
  font-family: 'Montserrat', sans-serif;
}

.dinpro {
  font-family: "DINpro", sans-serif;
}
/*# sourceMappingURL=admin.css.map */