@import url('/fonts/monserrat/monserrat.css');
@import url("/fonts/DINpro/stylesheet.css");

$backgroundColor: #f3f4f8; 
$themeColor: #2468d7;
$grayColor: #999999;
$lightGrayColor: #ececec;
$toggleBackground: #0000007e;

$whiteBoxShadow: 5px 5px 12px 5px rgba(0,0,0,0.1);
$whiteBoxShadowTop: 5px -5px 12px 5px rgba(0,0,0,0.1);

$themeFont: 'Montserrat', sans-serif;

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: $backgroundColor; 
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;

    &:hover {
        background: #666;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $backgroundColor;
    font-family: $themeFont;
    padding-top: 60px;
}

input, textarea {
    font-family: $themeFont;
}

.uppercase {
    text-transform: uppercase;
}

.right {
    float: right;
}

.description {
    color: $grayColor;
    font-weight: 300;
}

.github {
    &::after {
        content: url("/images/github.svg");
    }
}

.center {
    text-align: center;
}

.blue-btn, .gray-btn {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: $themeFont;
    user-select: none;
    background-color: #fff;
    
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.blue-btn {
    background-color: $themeColor;
    color: #fff;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.9);
    }
}

.gray-btn {
    border: 1px solid $grayColor;
    color: #000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::after {
        content: url("/images/close.svg");
        filter: invert(1);
    }
}

input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.white-box {
    max-width: 1200px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: $whiteBoxShadow;
    box-sizing: border-box;
    overflow: hidden;

    h3 {
        margin-left: 10px;
        position: relative;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: $themeColor;
        }
    }
}

.part-white-box {
    display: flex;
    max-width: 1200px;
    margin: auto;

    .part-box {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: $whiteBoxShadow;
        margin: 10px;
        border-radius: 10px;
        padding: 10px 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        form {
            width: 100%;
            ul {
                box-sizing: border-box;
                width: 100%;
                list-style-type: none;

                li {
                    label:hover {
                        input[type="checkbox"] {
                            &::before {
                                border: 1px solid $themeColor;
                            }
                        }
                    }
                }
    
                label {
                    user-select: none;
                }

                input[type="checkbox"] {
                    width: 0px;
                    position: relative;

                    &::before {
                        position: absolute;
                        left: -25px;
                        width: 15px;
                        height: 100%;
                        content: "";
                        border: 1px solid $grayColor;
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                input[type="checkbox"]:not(:checked){
                    &::before {
                        content: url("/images/check.svg");
                    }
                }
            }
        }

        h1 {
            color: $themeColor;
        }

        h3 {
            margin-left: 10px;
            position: relative;
            width: 100%;
            text-align: left;
            box-sizing: border-box;
    
            &::after {
                left: 0;
                bottom: -10px;
                height: 4px;
                width: 40px;
                position: absolute;
                content: "";
                background-color: $themeColor;
            }
        }

        .controls-buttons {
            display: flex;
            width: 100%;
            float: inherit;
            button {
                margin: 3px;
            }
        }
    }
}

nav {
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: $whiteBoxShadow;
    position: fixed;
    display: flex;
    justify-content: space-between;

    h3 {
        margin-left: 10px;
        position: relative;
        margin: 0;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: $themeColor;
        }
    }

    #logout {
        background-color: transparent;
        border: none;
        cursor: pointer;
        filter: brightness(0);
        transition: filter 0.2s;
        &::after {
            content: url("/images/logout.svg");
        }

        &:hover {
            filter: brightness(1);
        }
    }
}

#global-settings {
    display: flex;

    .option {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        h4 {
            text-align: center;
        }

        input[type="color"] {
            border: none;
            background-color: transparent;
        }

        input[type="number"], select {
            background-color: $lightGrayColor;
            border: 1px solid $lightGrayColor;
            border-radius: 5px;
            outline: none;
            max-width: 100%;
            padding: 5px 10px;

            &:focus {
                border: 1px solid $grayColor;
            }
        }
    }
}

#controls-buttons {
    padding: 10px 20px;
    box-sizing: border-box;
}

#slides-table {
    overflow-x: auto;
    margin: 10px 0;

    table {
        width: 100%;
        margin: 10px 0;
        border-collapse: collapse;

        thead {
            th {
                border-bottom: 1px solid $grayColor;
                white-space: nowrap;
                padding-bottom: 10px;
            }
        }

        tr {
            &:nth-child(even) {
                background-color: $lightGrayColor;
            }

            &.hidden {
                color: $grayColor;
                opacity: 0.5;
            }

            td {
                text-align: center;
                vertical-align: middle;
                padding: 8px 0;
                overflow: hidden;
                max-width: 130px;
                white-space: nowrap;
                text-overflow: ellipsis;

                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 150px;
                    margin: 0;
                }

                input[type="color"] {
                    background-color: transparent;
                    border: none;
                }

                &:not(.empty) {
                    &:first-child {
                        cursor: move;
                        position: relative;
                        &::after {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            content: url("/images/drag.svg");
                        }
                    }
                }

                &.empty {
                    padding: 20px 0 14px 0;
                }

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }

                .preview {
                    &::after {
                        content: url("/images/eye.svg");
                    }
                }

                .remove {
                    &::after {
                        content: url("/images/trash.svg");
                    }
                }
            }
        }
    }
}

.iframe-box {
    width: 100%;
    padding-top: 56.25%;
    position: relative;

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

#prewiew-box {
    position: relative;

   button {
        position: absolute;
        top: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        &#refresh-iframe-btn {
            right: 20px;
            &::after {
                display: inline-block;
                content: url("/images/arrow-spin.svg");
                transition: transform 0.2s;
            }
    
            &:hover {
                &::after {
                    transform: rotate(25deg);
                }
            }
        }

        &#toggle-iframe-btn {
            right: 45px;

            &.pause {
                &::after {
                    content: url("/images/pause.svg");
                }
            }

            &.play {
                &::after {
                    content: url("/images/play.svg");
                }
            }

        }
    }
}

footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 10px 5px 10px;
    box-sizing: border-box;
    margin-top: 25px;
    box-shadow: $whiteBoxShadowTop;

    h3 {
        margin-left: 10px;
        position: relative;
        margin: 0;
        margin-bottom: 30px;

        &::after {
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 40px;
            position: absolute;
            content: "";
            background-color: $themeColor;
        }
    }

    #footer-content {
        a {
            color: $themeColor;
        }

        p {
            margin: 10px 40px;
            text-align: center;
        }
    }
}

#add-visitation-box, #add-degustation-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $toggleBackground;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &.active {
        display: flex;
    }

    form {
        background-color: #fff;
        padding: 10px;
        display: flex;
        flex-direction: column;

        #add-visitation-input-box, #add-degustation-input-box {
            margin: 20px 5px;

            input[type="number"] {
                width: 43px;
                font-size: 22px;
                outline: none;
                border: 1px solid $grayColor;
                padding: 3px 6px;
                box-sizing: border-box;

                &:first-child {
                    text-align: right;
                }

                &:last-child {
                    text-align: left;
                }
            }
    
            button {
                margin: 10px 0;
            }
        }
    }
}

#add-slide-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $toggleBackground;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
    }

    form {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
        width: 800px;

        .input {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 5px 10px;
            text-transform: uppercase;
            font-size: 12px;
            color: $grayColor;
            letter-spacing: 1.5px;
            font-weight: 600;
        }

        button[type="submit"] {
            padding: 10px 0;
            margin-top: 20px;
        }

        input[type="text"], input[type="number"], select, input[type="file"], textarea {
            border: transparent;
            border-radius: 5px;
            background-color: $lightGrayColor;
            outline: none;
            padding: 10px 15px;
            box-sizing: border-box;
            border: 1px solid $lightGrayColor;
            transition: border 0.2s;
            overflow: hidden;

            &::file-selector-button {
                display: none;
            }

            &:focus {
                border: 1px solid $grayColor;
            }
        }

        input[type="color"] {
            background-color: transparent;
            border: none;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            height: 40px;
        }

        input[type="checkbox"] {
            margin-left: 10px;
            margin-bottom: 15px;
        }

        .row {
            display: flex;
            width: 100%;
            justify-content: center;

            .column {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 10px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        textarea {
            resize: vertical;
            height: 100px;
        }
    }
}

#loading-box {
    position: fixed;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    transition: 1s opacity;

    &.hidden {
        opacity: 0;
    }

    .spinner {
        border-radius: 100%;
        border-top: 10px solid $themeColor;
        border-left: 10px solid $themeColor;
        border-bottom: 10px solid $grayColor;
        border-right: 10px solid $grayColor;
        animation: spinning infinite linear 2s;
    }
}

#alert-box {
    position: fixed;
    top: 100px;
    right: 30px;
    background-color: $themeColor;
    color: #fff;
    border-radius: 5px;
    padding: 15px 10px;
    overflow: hidden;

    &.error {
        background-color: red;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: #000;
        width: 0%;
        content: "";
        animation: loading linear forwards 7s;
    }
}

@media screen and (max-width: 1200px) {
    .white-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .part-white-box {
        .part-box {
            &:first-child, &:last-child {
                margin: 10px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .part-white-box {
        display: block;
    }

    #global-settings {
        display: block;
    }

    #add-slide-box {
        form {
            .row {
                display: block;
            }

            .column {
                width: 100%;
                margin: 0 !important;
            }
        }
    }
}

//fonts
.arial {
    font-family: Arial, sans-serif;
}

.verdana {
    font-family: Verdana, sans-serif;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

.tahoma {
    font-family: Tahoma, sans-serif;
}

.terebuchet {
    font-family: 'Trebuchet MS', sans-serif;
}

.times-new-roman {
    font-family: 'Times New Roman', serif;
}

.georgia {
    font-family: Georgia, serif;
}

.garamond {
    font-family: Garamond, serif;
}

.courier-new {
    font-family: 'Courier New', monospace;
}

.brush-script {
    font-family: 'Brush Script MT', cursive;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.dinpro {
    font-family: 'DINpro', sans-serif;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    from{
        width: 0;
    }

    to {
        width: 100%;
    }
}